body {
  background-color: rgb(238, 238, 238);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
header {
  background-color: #D1EEEE;
  color: #212e2e;
  display: flex;
  padding: 10px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.menu {
  position: sticky;
  top: 0px;
  padding: 40px;
  }

main {
  display: flex;
}

aside {
  background-color: #C6C6C6;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: #ccc;
  padding: auto;   
  }